<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2017 Adam Feinstein
  ~
  ~ This file is part of MTG Familiar.
  ~
  ~ MTG Familiar is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MTG Familiar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MTG Familiar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="GoogleAppIndexingWarning">
        <!-- Provides search suggestions for cards by name. -->
        <provider
            android:name="com.gelakinetic.mtgfam.helpers.database.CardSearchProvider"
            android:authorities="com.gelakinetic.mtgfam.debug.helpers.database.CardSearchProvider"
            android:exported="false"
            tools:replace="android:authorities" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gelakinetic.mtgfam.debug.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
